openapi: 3.2.0
info:
  title: Dailyhunt Content Syndication Cricket API
  version: '2.3'
  description: 'The Dailyhunt Content Syndication API lets an approved partner pull Dailyhunt''s editorial catalogue into its own app, browser, device home screen or PWA. It exposes channel discovery (news, location, video and DailyShare/viral channels), paginated content fetch for the cards in a channel, keyword search across the catalogue, a supported-language list, a card feedback surface, a live cricket score and commentary stream, and a view-tracking endpoint that a partner must call back with the `trackData` of every card its user saw. Content is available in fourteen Indian languages. Every call is signed: the partner sends its API key in the `Authorization` header as `key=<API Key>` and a Base64-encoded HMAC-SHA1 `Signature` header computed over the lexicographically-sorted, URL-encoded query string plus the uppercased HTTP method, using the secret key Dailyhunt issues at onboarding. A per-user `puid` (partner unique user id) is required on every call and Dailyhunt returns a `dhFeedV1` cookie the partner must persist and replay. Access is partner-gated — API key, secret key and partner code are provisioned over email during onboarding, and the advanced surfaces (video channels, DailyShare cards, location channels, cricket) are additionally gated behind a per-partner feature mask (`pfm`).

    This OpenAPI was DERIVED by API Evangelist from Dailyhunt''s own public Partner Integration Reference (the Postman-published documentation at https://api-syndication.dailyhunt.in/, version 2.2/2.3) — every path, HTTP method, query parameter, header, response code, response field and example was transcribed from that published document and from the collection JSON it serves. It is NOT a provider-published specification. Dailyhunt publishes no machine-readable OpenAPI: probes of /openapi.json, /swagger.json and /api-docs on api-syndication.dailyhunt.in and developer.dailyhunt.in all returned HTTP 404 on 2026-08-04, and feed.dailyhunt.in does not resolve in public DNS (no A record) — the production host is reachable only to onboarded partners.'
  contact:
    name: Dailyhunt Content Syndication — Partner Integration
    url: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-from: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-source-artifact: postman/dailyhunt-content-syndication.postman_collection.json
  x-apievangelist-derived-on: '2026-08-04'
  x-apievangelist-provider-published: false
servers:
- url: http://feed.dailyhunt.in
  description: Production content feed host (partner-gated; does not resolve in public DNS as of 2026-08-04)
- url: http://qa-news.newshunt.com
  description: Stage integration environment for partner development and testing
- url: http://track.dailyhunt.in
  description: Production tracking host
security:
- ApiKeyAuth: []
  RequestSignature: []
tags:
- name: Cricket
  description: Live cricket match score and commentary streaming.
paths:
  /api/v2/syndication/streams/cricket/score:
    get:
      operationId: streamCricketScore
      summary: Stream cricket match score
      description: Streams the live score for a match. The response carries a compact `ScoreDetail` object (`s`) with the scoreboard (`sb`), the team innings detail (`ti`) and the last wicket (`lw`), plus a streaming version counter (`v`).
      tags:
      - Cricket
      parameters:
      - name: matchId
        in: query
        required: true
        description: The cricket match id whose score should be streamed.
        schema:
          type: string
      - $ref: '#/components/parameters/Partner'
      - $ref: '#/components/parameters/Ts'
      - $ref: '#/components/parameters/Puid'
      responses:
        '200':
          description: The current score detail for the match.
        '204':
          description: No match found.
        '500':
          $ref: '#/components/responses/ServerError'
  /api/v2/syndication/streams/cricket/commentary:
    get:
      operationId: streamCricketCommentary
      summary: Stream cricket match commentary
      description: Streams paginated ball-by-ball and end-of-over commentary lines for a match.
      tags:
      - Cricket
      parameters:
      - name: matchId
        in: query
        required: true
        description: The cricket match id whose commentary should be streamed.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of commentary lines (per ball or per end-of-over) in a page.
        schema:
          type: integer
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/Partner'
      - $ref: '#/components/parameters/Ts'
      - $ref: '#/components/parameters/Puid'
      responses:
        '200':
          description: A paginated list of commentary lines.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentaryListResponse'
        '204':
          description: No match found, or no more commentary available.
        '500':
          $ref: '#/components/responses/ServerError'
components:
  parameters:
    PageNumber:
      name: pageNumber
      in: query
      description: Zero-based page number of the paginated response.
      schema:
        type: integer
    Ts:
      name: ts
      in: query
      required: true
      description: Current client timestamp in milliseconds; must be included in the signed parameter set.
      schema:
        type: integer
        format: int64
    Partner:
      name: partner
      in: query
      required: true
      description: The partner identification code issued by Dailyhunt at onboarding.
      schema:
        type: string
    Puid:
      name: puid
      in: query
      required: true
      description: The partner's unique id for the end user accessing the API (for example a device identifier). Dailyhunt maps it to an internal user id to personalize the feed.
      schema:
        type: string
  schemas:
    CommentaryLine:
      type: object
      properties:
        id:
          type: string
          description: The commentary id
        message:
          type: string
          description: Commentary text
        over:
          type: integer
          description: Over count
        ball:
          type: integer
          description: Ball number
        ballStatus:
          type: integer
          description: Status of the ball — runs count
          or wicket/wide: null
        endOfOver:
          type: boolean
          description: Whether the commentary is an end-of-over line
    CommentaryListResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/CommentaryLine'
            pageNumber:
              type: integer
            count:
              type: integer
            nextPageUrl:
              type: string
  responses:
    ServerError:
      description: Any unexpected issue at Dailyhunt.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: The partner API key issued by Dailyhunt at onboarding, sent as `key=<API Key>`.
    RequestSignature:
      type: apiKey
      in: header
      name: Signature
      description: Base64-encoded HMAC-SHA1 of the signature base string, computed with the partner secret key. The signature base string is the URL-encoded request query parameters sorted lexicographically by encoded key and joined with `&`, followed by the uppercased HTTP method. A `ts` (timestamp) query parameter must be present in the signed parameter set.
externalDocs:
  description: Dailyhunt Content Syndication — Partner Integration Reference
  url: https://api-syndication.dailyhunt.in/
