openapi: 3.2.0
info:
  title: Dailyhunt E-Commerce Shopping Catalog API
  version: v1
  description: 'The Dailyhunt E-Commerce Shopping Catalog API lets a registered commerce vendor upload and maintain its product catalogue inside the Dailyhunt system so those products can be onboarded for shopping and advertising surfaces. A vendor creates a named catalog, then submits batched CREATE / UPDATE / DELETE product requests keyed by `retailer_id`, each carrying the standard product-feed attributes (name, brand, price, sale price and sale window, currency, availability, condition, category and product type, colour, size, pattern, gender, age group, GTIN, inventory, image URL and additional image URLs, landing URL, shipping rows and Android/iPhone app links, plus custom labels). Batch submission is asynchronous: the API returns a handle, and the vendor polls a status endpoint for completion and per-request errors. Authentication is a vendor `access_token` passed in the JSON request body — the vendor must already be registered and credentialed by Dailyhunt.

    This OpenAPI was DERIVED by API Evangelist from Dailyhunt''s own public E-Commerce Catalog Integration Guide at https://developer.dailyhunt.in/ads/docs/shopping-catalog/ — every endpoint, method, mandatory field, request body and response body was transcribed from that page. It is NOT a provider-published specification; Dailyhunt publishes no machine-readable spec for this API (probes of /openapi.json, /swagger.json and /api-docs on developer.dailyhunt.in returned HTTP 404 on 2026-08-04).'
  contact:
    name: Dailyhunt Ads Tech Team
    url: https://developer.dailyhunt.in/ads/
    email: ads-tech-team@verse.in
  x-apievangelist-derived-from: https://developer.dailyhunt.in/ads/docs/shopping-catalog/
  x-apievangelist-derived-on: '2026-08-04'
  x-apievangelist-provider-published: false
servers:
- url: https://money.dailyhunt.in
  description: Dailyhunt shopping catalog host
security:
- VendorAccessToken: []
tags:
- name: Catalog
  description: Create and read a vendor catalog.
paths:
  /shopping-catalog/v1/catalog/:
    post:
      operationId: createCatalog
      summary: Add a catalog
      description: Creates a catalog under the vendor and returns its generated catalog id.
      tags:
      - Catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - access_token
              - catalog_name
              properties:
                access_token:
                  type: string
                  description: Vendor access token issued by Dailyhunt
                catalog_name:
                  type: string
                  description: Name of the catalog to create
      responses:
        '201':
          description: Catalog created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  catalog_id:
                    type: string
                    format: uuid
  /shopping-catalog/v1/catalog/{catalog_id}:
    get:
      operationId: getCatalog
      summary: Fetch a catalog
      description: Returns the details of a catalog belonging to the vendor.
      tags:
      - Catalog
      parameters:
      - name: catalog_id
        in: path
        required: true
        description: The catalog id returned when the catalog was created.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Catalog detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  created_on:
                    type: integer
                    format: int64
                    description: Creation time as a unix timestamp
components:
  securitySchemes:
    VendorAccessToken:
      type: apiKey
      in: query
      name: access_token
      description: Vendor access token issued by Dailyhunt at registration. The published guide passes it as an `access_token` field in the JSON request body rather than as a header or query parameter; OpenAPI cannot express a body-borne credential, so it is modelled here as an apiKey scheme and the body field is documented on each operation.
externalDocs:
  description: E-Commerce Catalog Integration Guide
  url: https://developer.dailyhunt.in/ads/docs/shopping-catalog/
