openapi: 3.2.0
info:
  title: Dailyhunt Content Syndication Tracking API
  version: '2.3'
  description: The Dailyhunt Content Syndication API lets an approved partner pull Dailyhunt's editorial catalogue into its own app, browser, device home screen or PWA.
  contact:
    name: Dailyhunt Content Syndication — Partner Integration
    url: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-from: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-source-artifact: postman/dailyhunt-content-syndication.postman_collection.json
  x-apievangelist-derived-on: '2026-08-04'
  x-apievangelist-provider-published: false
servers:
- url: http://feed.dailyhunt.in
  description: Production content feed host (partner-gated; does not resolve in public DNS as of 2026-08-04)
- url: http://qa-news.newshunt.com
  description: Stage integration environment for partner development and testing
- url: http://track.dailyhunt.in
  description: Production tracking host
security:
- ApiKeyAuth: []
  RequestSignature: []
tags:
- name: Tracking
  description: Partner callback reporting which cards a user actually saw.
paths:
  /api/v2/syndication/tracking:
    post:
      operationId: trackViewedItems
      summary: Report cards seen by the user
      description: Reports the cards a user actually saw. The partner posts an array of `{id, trackData}` pairs (the `trackData` value comes verbatim from the card in the Content Fetch response) together with the view timestamp. Callers should POST to the `trackUrl` returned by the Content Fetch API, appending `partner`, `puid` and `ts`, once per list view.
      tags:
      - Tracking
      parameters:
      - $ref: '#/components/parameters/Partner'
      - $ref: '#/components/parameters/Puid'
      - $ref: '#/components/parameters/Ts'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackingRequest'
      responses:
        '204':
          description: Successful processing. No content.
        '400':
          description: Bad request detected.
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Any unexpected issue at Dailyhunt.
  parameters:
    Ts:
      name: ts
      in: query
      required: true
      description: Current client timestamp in milliseconds; must be included in the signed parameter set.
      schema:
        type: integer
        format: int64
    Partner:
      name: partner
      in: query
      required: true
      description: The partner identification code issued by Dailyhunt at onboarding.
      schema:
        type: string
    Puid:
      name: puid
      in: query
      required: true
      description: The partner's unique id for the end user accessing the API (for example a device identifier). Dailyhunt maps it to an internal user id to personalize the feed.
      schema:
        type: string
  schemas:
    TrackingRequest:
      type: object
      properties:
        viewedDate:
          type: integer
          format: int64
          description: Time the user saw the item cards
        stories:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Item id viewed by the user
              trackData:
                type: string
                description: Tracking data present in the item card
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: The partner API key issued by Dailyhunt at onboarding, sent as `key=<API Key>`.
    RequestSignature:
      type: apiKey
      in: header
      name: Signature
      description: Base64-encoded HMAC-SHA1 of the signature base string, computed with the partner secret key. The signature base string is the URL-encoded request query parameters sorted lexicographically by encoded key and joined with `&`, followed by the uppercased HTTP method. A `ts` (timestamp) query parameter must be present in the signed parameter set.
externalDocs:
  description: Dailyhunt Content Syndication — Partner Integration Reference
  url: https://api-syndication.dailyhunt.in/
