openapi: 3.2.0
info:
  title: Dailyhunt Content Syndication Languages API
  version: '2.3'
  description: The Dailyhunt Content Syndication API lets an approved partner pull Dailyhunt's editorial catalogue into its own app, browser, device home screen or PWA.
  contact:
    name: Dailyhunt Content Syndication — Partner Integration
    url: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-from: https://api-syndication.dailyhunt.in/
  x-apievangelist-derived-source-artifact: postman/dailyhunt-content-syndication.postman_collection.json
  x-apievangelist-derived-on: '2026-08-04'
  x-apievangelist-provider-published: false
servers:
- url: http://feed.dailyhunt.in
  description: Production content feed host (partner-gated; does not resolve in public DNS as of 2026-08-04)
- url: http://qa-news.newshunt.com
  description: Stage integration environment for partner development and testing
- url: http://track.dailyhunt.in
  description: Production tracking host
security:
- ApiKeyAuth: []
  RequestSignature: []
tags:
- name: Languages
  description: The languages Dailyhunt's content feeds support.
paths:
  /api/v2/syndication/languages:
    get:
      operationId: listLanguages
      summary: List supported languages
      description: Returns the languages Dailyhunt's content feeds support, each with an English label, a unicode label and a language code. Fourteen codes are published — en, hi, mr, gu, pa, bn, kn, ta, te, ml, or, ur, bh, ne.
      tags:
      - Languages
      parameters:
      - $ref: '#/components/parameters/Partner'
      - $ref: '#/components/parameters/Ts'
      responses:
        '200':
          description: The list of supported languages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageListResponse'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '403':
          $ref: '#/components/responses/InvalidSignature'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: Any unexpected issue at Dailyhunt.
    InvalidSignature:
      description: Invalid signature given in the request header.
    InvalidApiKey:
      description: Invalid API key given in the request header.
  parameters:
    Ts:
      name: ts
      in: query
      required: true
      description: Current client timestamp in milliseconds; must be included in the signed parameter set.
      schema:
        type: integer
        format: int64
    Partner:
      name: partner
      in: query
      required: true
      description: The partner identification code issued by Dailyhunt at onboarding.
      schema:
        type: string
  schemas:
    LanguageListResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/Language'
            count:
              type: integer
    Language:
      type: object
      properties:
        name:
          type: string
          description: English label for the language
        nameUni:
          type: string
          description: Unicode label name
        code:
          type: string
          description: Language code
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: The partner API key issued by Dailyhunt at onboarding, sent as `key=<API Key>`.
    RequestSignature:
      type: apiKey
      in: header
      name: Signature
      description: Base64-encoded HMAC-SHA1 of the signature base string, computed with the partner secret key. The signature base string is the URL-encoded request query parameters sorted lexicographically by encoded key and joined with `&`, followed by the uppercased HTTP method. A `ts` (timestamp) query parameter must be present in the signed parameter set.
externalDocs:
  description: Dailyhunt Content Syndication — Partner Integration Reference
  url: https://api-syndication.dailyhunt.in/
